@model CMPS_285.Models.Trip

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" style="margin-top:1%">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>There was some error while submitting your trip details. <small>Please review your error and try again</small><strong>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-horizontal">
            <legend>
                <h4 class="text-center">Your Trip Details</h4>
            </legend>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.origin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.origin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.origin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.destination, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.destination, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.destination, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control", type="datetime-local"} })
                    @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.seats, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.seats, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.seats, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Host" class="btn btn-default" />
                </div>
            </div>
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
