@model IEnumerable<CMPS_285.Models.Trip>
@using Microsoft.AspNet.Identity;

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">All Notifications</h2>

    @foreach (var item in Model.Reverse())
    {
        <form method="post" action="@Url.Action("Reserve", "Trips", new { userId = User.Identity.GetUserId() , driverId = item.ID, origin = item.origin, destination = item.destination, datetime = item.time})">
        <div class="well" style="background-color: lavender">
            <p>
                @Html.DisplayFor(modelItem => item.driver) has hosted a ride from
                @Html.DisplayFor(modelItem => item.origin) to
                @Html.DisplayFor(modelItem => item.destination) at
                @Html.DisplayFor(modelItem => item.time)
                @Html.DisplayFor(modelItem => item.passanger1)

            <p>
                Available Seats:
                @for (int i = 1; i <= item.seats; i++)
                {
                    <button type="submit" method="post" class="btn btn-success" title="Reserve Seat"> <span class="glyphicon glyphicon-user"></span></button>
                }
                @for (int j = 0; j <= item.pending; j++)
                {
                    <button type="submit" method="post" class="btn btn-warning" disabled rel="tooltip" data-title="pending"> <span class="glyphicon glyphicon-user"></span></button>
                }
                @for (int j = 0; j <= item.confirmed; j++)
                {
                    <button type="submit" method="post" class="btn btn-danger" disabled rel="tooltip" data-title="pending"> <span class="glyphicon glyphicon-user"></span></button>
                }
            </p>
        </div>
        </form>
    }
